@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Wet+Paint:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.qrcode {
    width: 10rem;height: 20rem;margin: 1rem auto; text-align: center;
}
.forminput {
    border-radius: 12px;width: 100% !important;height: 40px;padding: .2rem .8rem;
    border: none;
}
.formlabel {
    color: #727070;margin-top: 1rem;padding: .6rem;font-family: "Montserrat";
}
.formTag {
    background-color: #f0efef;border-radius: 8px;padding: 1rem;margin: auto;
}
.formDiv {
}
.innerformDiv {
}
.formpTag {
    font-size: 12px;font-family: "Montserrat";font-style: italic;
}
.formflexDiv {
}
.formchildFlex {
    
}
.labelDiv {
    width: 100%;
}
.regContainer {
    
}
.registerButton {
    border-radius: 12px;margin: 2rem auto;background-color: #1e0674e8;
    padding: .4rem 1rem;border: none;color: #f1f1f1;
}
.passhideshowButton {
    text-align: right;float: right;margin-top: .6rem;margin-right: .5rem;
    border: none;
}